<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="resources/css/bootstrap.css"></link>
<title>Bank</title>
</head>
<body>
	<div class="container">
		<div class="container"
			style="padding-bottom: 10px; margin-bottom: 0px;">
			<div style="display: inline" id="header"></div>
		</div>
		<div class="container"
			style="width: 340px; height: 425px; float: left; display: inline-block; 
									overflow: auto;	margin-top: 20px; border-right: gray dotted thin;">
			<section id="listName" style="font-size: 20px"></section>
			<table class="table table-hover">
				<thead></thead>
				<tbody id="listTable" style="width: 340px;">
				</tbody>
			</table>
		</div>
		<div class="container"
			style="width: 800px; float: right; margin-top: 20px">
			<div id="workspace"></div>
		</div>
	</div>
	
	<script type="text/template" id='currentBalanceTemplate'>
	<span style="font-size:20px">Current Balance : <%=currentBalance%></span>

	</script>

	<script type="text/template" id='txTemplate'>
	<%if(id){%>
	<h4> <span> Rs&nbsp<%=amount%></span><span> Tx&nbsp:&nbsp<%=txType%></span>
													</h4><br/><small><%=date%></small><hr>
	<%}%>
	</script>

	<script type="text/template" id="clientHeaderTemplate">
	<div class="page-header">
		<span style="font-size:xx-large; display:inline-block">
			<a href="" class="btn-group-lg" style="text-decoration: none">	Lex Nimble Bank </a>
		</span>
			<a id="add" href="#tx" class="btn btn-primary btn-lg" style="margin-bottom: 10px;margin-left: 50px;">Deposit / Withdraw</a>
			<a class="btn btn-warning btn-lg" onClick="logout()" style="margin-bottom: 10px;margin-left: 50px;float:right;">Log out</a>
		<div id="currentBal" style="display: inline-block;float: right;">
	</div>
	</script>

	<script type="text/template" id="txFormTemplate">
	  <div style="width: 400px; margin-left: 100px;">
		<form id="txForm" class="form-horizontal ">
			<div class="form-group">
				<div class="input-group">
						<div class="input-group-addon input-lg">$</div>
				<input type="number" name="amount" min="1" placeholder="Amount" id="idDepositAmount" class="form-control input-lg .col-xs-6 .col-sm-4">		
			</div>
			<span class="help-block hidden"></span>
			</div>			
			<div class="form-group">	
				<input type="radio" value="withdraw" id="txType" name="txType"> <label>Withdraw</label> 
				<input type="radio" value="deposit" id="txType" name="txType"> <label>Deposit </label><br> 
				<span class="help-block hidden"></span></div>
    		<div class="form-group">
				<button id="idDepositButton" class="btn btn-info btn-lg" type="submit">Transfer cash</button>
        	</div>
		</form>
		
	  </div>
			<div id="error" role="alert" class="alert alert-danger hidden"></div>
	</script>


	<script src="resources/lib/jquery.js"></script>
	<script src="resources/lib/underscore.js"></script>
	<script src="resources/lib/backbone.js"></script>
	<script src="resources/lib/backbone-validation-min.js"></script>
	<script src="resources/lib/util.js"></script>
	<script src="resources/lib/serialize-object.js"></script>
	<script src="resources/model/tx.js"></script>
	<script src="resources/view/client.js"></script>
	<script src="resources/router/clientRouter.js"></script>


</body>
</html>